body{
  background-color: rgb(54, 56, 60);
  font-family: 'Andada Pro', serif;
font-family: 'DM Sans', sans-serif;
font-family: 'Inter', sans-serif;
font-family: 'Readex Pro', sans-serif;
}


.everythingContainer{
  display: flex;
  /* border: red solid; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.invitationText{
  text-align:center;
  color: white;
  margin: 0 20px 20px 20px; 
}

.logoImg{
  height: 120px;
}

#yesNoContainer{
  /* border: red solid; */
  width: 300px;
  display: flex;
  justify-content:space-between;
}

#yes{
  border: none;
  height: 40px;
  width: 100px;
  border-radius: 15px;
  background-color: rgb(187, 165, 187);
}
#no{
  border: none;
  height: 40px;
  width: 100px;
  border-radius: 15px;
  background-color: rgb(187, 165, 187);
}

#nameContainer{
  margin-top: 10vh;
}

#nameInputBox{
  background-color: rgb(225, 226, 166);
  border: none;
  height: 40px;
  border-radius: 20px;
}

#submitBtn{
  background-color: rgb(194, 198, 137);
  border: none;
  height: 40px;
  border-radius: 20px;
  margin-left: 3px;

}

.whatUThink{
  background-color: rgb(173, 147, 197);
  border: none;
  height: 40px;
  border-radius: 20px;
  margin-left: 3px;
  color:rgb(54, 56, 60);
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 20px 0px 20px;

}


/*  */

/*  */

.link:link{
  color:rgb(173, 147, 197)
}
.link:visited{
  color:rgb(173, 147, 197)
}
